.venv/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.cache/

.DS_Store
.idea/
.vscode/
.python-version

logs/
*.log

data/*
!data/factor_model/
!data/census_survey/
data/census_survey/*
data/factor_model/*
!data/factor_model/covq2d20.safetensors
!data/census_survey/acs_2019_CA_filtered.parquet
!data/census_survey/acs_2019_CA.parquet